/* @group Forms */

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="number"],
textarea,
select{
	display: block;
    background: lighten($border-color, 5%);
    border: 2px solid lighten($border-color, 5%);
	color: $text-color;
    font: $font-size $title-font-family;
    letter-spacing: 0.3px;
	padding: 12px 30px;
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
    box-sizing: border-box;
    border-radius: $border-radius;
    outline: 0;
    appearance: none;
	@include transition;
	@include placeholder{
		color: rgba($black1, 0.75);
	};
    &:focus{ border-color: darken($border-color, 5%); }
    &.small{
        display: inline-block;
        width: 70px;
        height: 36px;
        padding: 10px;
        text-align: center;
        margin-bottom: 0;
    }
}
// input::-webkit-outer-spin-button,
// input::-webkit-inner-spin-button {
//     /* display: none; <- Crashes Chrome on hover */
//     -webkit-appearance: none !important;
//     margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
// }
textarea{ width: 100%; height: 170px; resize: none; padding-top: 25px; padding-bottom: 25px; }
input[type="submit"], button{
	@include button;
	font-size: 18px;
    padding: 10px 30px;
    line-height: normal;
	@include transition;
}
input[type="submit"]:hover{
    background-color: transparent !important;
}
select{ 
    max-width: 100%;
    height: auto;
    background: lighten($border-color, 5%) url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAAA3NCSVQICAjb4U/gAAAAD1BMVEX///8AAAAAAAAAAAAAAABRO2rwAAAABXRSTlMAESIzRJTdRHwAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAY0lEQVQYlVXOyRGAIBBE0QYNgIMBWJYBcDAAFvOPSYRZ5zL1Tv3xvPY6dueC4JyA27AB2IzzMIx/4hDW6Sg+p8EJfVESCpkTEpkSGpMSshg6DkmoxlHHOaFbjoTiHHR83UX/A5M3KIMZPyPWAAAAAElFTkSuQmCC') no-repeat 97% center;
    background-size: 9px 6px;
    appearance: none;
}
select.custom-select, .wp-block-categories select{
    border: 0;
	border-radius: 5px;
	padding: 10px 15px;
	padding-right: 25px;
	background: $red url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAAA3NCSVQICAjb4U/gAAAAD1BMVEX///8AAAAAAAAAAAAAAABRO2rwAAAABXRSTlMAESIzRJTdRHwAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAAcdEVYdFNvZnR3YXJlAEFkb2JlIEZpcmV3b3JrcyBDUzbovLKMAAAAY0lEQVQYlVXOyRGAIBBE0QYNgIMBWJYBcDAAFvOPSYRZ5zL1Tv3xvPY6dueC4JyA27AB2IzzMIx/4hDW6Sg+p8EJfVESCpkTEpkSGpMSshg6DkmoxlHHOaFbjoTiHHR83UX/A5M3KIMZPyPWAAAAAElFTkSuQmCC') no-repeat 93% center;
	background-size: 9px 6px;
	color: #fff;
	font: $font-size $font-family;
	outline: 0;
	cursor: pointer;
	margin-left: 20px;
    appearance: none;
    option{
        color: #222;
        background: #fff;
    }
}
select.custom-select{ display: none; }
.ie9 select.custom-select{ background: none; display: block; }
select.custom-select::-ms-expand{ display: none; }
select.custom-select:first-child{ margin-left: 0; }
select.custom-select option{ color: $black1; }
button{
	@include transition;
}
form p{ margin-bottom: 15px; font-size: 13px; }

.empty{ border: 1px solid #F15F74 !important; }
@include placeholder{
	color: rgba(#fff, 0.75);
};

// Search Form

form.search-form{
    position: relative;
    z-index: 1;
    max-width: none !important;
    input{ margin: 0; }
    input.search-field{
        background: rgba(#000, 0.15);
        border: 0;
        color: #fff;
        @include placeholder{
            color: #fff;
        };
	 }
    .submit{
        position: absolute;
        right: 20px;
        top: 50%;
        color: #fff;
        background: none;
        border: 0;
        backface-visibility: hidden;
        margin-top: -13px;
        padding: 0;
    }
    .submit:hover{ opacity: .75; }
}

/* @end */

/* @group Contact Form 7 Basic Support */

.wpcf7{
	p{ padding: 0 !important; margin-bottom: $grid-gap;  }
	label{ @extend .title; @extend .usmall; }
	span.wpcf7-form-control-wrap{ display: block; margin-top: half($grid-gap); }
	input.wpcf7-form-control, textarea.wpcf7-form-control{
        font-weight: 500;
	}
	.ajax-loader{
		margin-left: half($grid-gap) !important;
		vertical-align: baseline !important;
	}
	.wpcf7-response-output{
		clear: both;
		border: 0 !important;
		background: #DE394A;
		color: #fff;
		padding: 10px 15px !important;
		font-size: 16px;
		text-align: center;
		margin: 0 0 $grid-gap !important;
		position: relative;
		@include border-radius(3px);
		&.wpcf7-mail-sent-ok{
			background: #13ab51;
		}
	}
}

/* @end */
