body.rtl{

    direction:rtl;
    unicode-bidi:embed;

    /* @group Global Styles */

    .nice-select{
        padding-right: 30px;
        padding-left: 40px;
        &:after{
            right: auto;
            left: 20px;
        }
    }
    div.left-content{ overflow-x: hidden; }

    form.search-form .submit{
        left: 20px;
        right: auto;
    }
    div.meta svg{
        margin-right: 0;
        margin-left: 6px;
    }
    div.meta time{
        float: right;
        margin-left: 15px;
    }
    .author-meta .author-image{
        box-shadow: -2px 2px 5px 1px rgba(0, 0, 0, .25);
    }

    .classic div.meta time{
        float: none;
        margin-right: 15px;
    }
    .classic div.meta a.comments{
        display: inline-block;
    }

    .nice-select .list li{
        text-align: right;
    }
    div.epcl-download a:before,
    div.download a:before{ margin-right: 0; margin-left: 10px; }
    div.epcl-share-container{
        position: relative;
        float: right;
        margin-right: -85px;
        z-index: 100;

    }

    .outer-arrows .slick-next{
        left: 0;
        margin-right: 0;
        margin-left: -20px;
    }
    .outer-arrows .slick-prev{
        right: 0;
        margin-left: 0;
        margin-right: -20px;
    }

    .pagination div.nav .page-number{
        direction: ltr;
    }

    div.left-content{ float: right; border-right: 0; border-left: 1px solid #e5e5e5; overflow-x: inherit; }
    .no-sidebar div.left-content{ float: none; border-left: 0; }
    aside:before{ left: auto; right: -1px; }

    div.filters{
        .alignright{ float: left !important; }
        .grid-33{ float: right; }
        .nice-select{
            float: left;
            margin-left: 0;
            margin-right: 30px;
        }
    }
    .mfp-title{ text-align: right; padding-right: 0; padding-left: 36px; }
    .mfp-counter{ left: 0; right: auto; }

    /* @end */

    /* @group Single Post */

    #single .post-format-gallery .slick-next{
        right: auto;
        transform: rotate(180deg) translateY(50%);
    }
    #single .post-format-gallery .slick-prev{
        left: auto;
        transform: rotate(180deg) translateY(50%);
    }
    #single div.meta{
        text-align: right;
    }
    #single .featured-image div.info,
    #single.fullcover .featured-image .top{ right: 0; }

    #single.standard .featured-image{ border-top-left-radius: 0; border-top-right-radius: 7px; }
    #single .post-format-image img{ border-top-left-radius: 0; border-top-right-radius: 7px; }

    #single.standard .main-article div.meta .download,
    #single.standard .main-article div.meta a.comments,
    #single.standard .main-article div.meta time{
        display: inline-block;
        float: none;
        margin-left: 15px;
        margin-right: 0;
    }

    #single.standard .main-article div.meta .left{ float: none; }
    #single .tag-title{
        margin-left: 5px;
        margin-right: 0;
    }
    #single #comments .comment .avatar{
        float: right;
    }
    #single .share-buttons .permalink input{ direction: ltr; }

    /* @end */

    /* @group Header */

    #header .logo{ margin-left: 10px; }
    #header.advertising nav, #header.classic nav{ text-align: right; }
    #header .share-buttons{ float: left; margin-left: 0; margin-right: 15px; }
    #header .logo,
    #header.advertising .logo,
    #header.is-sticky div.menu-wrapper .logo{ float: right; }
    #header.is-sticky div.menu-wrapper .logo{ float: right; }
    #header.is-sticky div.menu-wrapper nav{ float: left; }
    #header.advertising .epcl-banner{ float: left; }
    #header{
        &.classic{
            .logo{ float: none; margin-left: auto; margin-right: auto; }
        }
        nav ul.menu li.menu-item-has-children{
            margin-right: 0;
            margin-left: 10px;
            &:after{
                right: auto;
                left: 0px;
            }
        }
    }
    #header nav ul.sub-menu{
        text-align: right;
        left: auto;
        right: -10px;
    }
    #header nav ul.sub-menu li a{ text-align: right; }
    #header nav ul.menu>li.menu-item-has-children.last-menu-item ul.sub-menu{
        right: auto;
        left: 0;
        ul.sub-menu{
            right: auto;
            left: 100%;
        }
    }
    #header ul.menu > li.menu-item-has-children.last-menu-item{

    }

    /* @end */

    /* @group Shortcodes */

    .epcl-shortcode.epcl-toggle .toggle-title .epcl-icon{
        right: auto;
        left: 10px;
    }
    .epcl-shortcode.epcl-button i.epcl-icon{
        margin-right: 0;
        margin-left: 7px;
    }

    /* @end */

    /* @group Widgets */

    section.widget_epcl_tweets p{ padding-left: 0; padding-right: 35px; }
    section.widget_epcl_tweets p i.fa-twitter{
        left: auto;
        right: 0;
    }

    .widget_search{
        border-radius: 0;
        border-top-left-radius: 7px;
        margin: 0 -30px !important;
    }

    .widget_epcl_social div.icons a{ padding-right: 20px; }
    .widget_epcl_social div.icons a i{
        right: auto;
        left: 0;
    }

    .widget_epcl_featured_category .item,
    .widget_epcl_posts_thumbs .item,
    .widget_epcl_related_articles .item{
        padding-left: 0;
        padding-right: 100px;
    }

    .widget_epcl_featured_category .item .thumb,
    .widget_epcl_posts_thumbs .item .thumb,
    .widget_epcl_related_articles .item .thumb{
        left: auto;
        right: 0;
    }

    .widget_archive>ul>li,
    .widget_categories>ul>li,
    .widget_recent_comments>ul>li,
    .widget_recent_entries>ul>li,
    .widget_rss>ul>li{
        padding-left: 0;
        padding-right: 25px;
        background-position: right 7px;
    }

    .widget_archive ul>li,
    .widget_categories ul>li{
        padding-right: 0;
    }
    .widget_archive ul>li a,
    .widget_categories ul>li a{
        float: none;
    }
    .widget_archive ul li span,
    .widget_categories ul li span{
        float: left;
    }

    .widget ul>li ul.children li{
        padding-left: 0;
        padding-right: 30px;
    }

    /* @end */

    /* @group Footer */

    #footer .subscribe .right{ float: left; padding-left: 0; padding-right: 30px; }
    #footer .subscribe form .inputbox{ padding-right: 30px; padding-left: 50px; }
    #footer .subscribe form .submit{
        right: auto;
        left: 5px;
    }
    #footer .subscribe form .submit img{
        transform: rotate(180deg);
    }

    #footer a#back-to-top{
        right: auto;
        left: 20px;
    }

    /* @end */

}

/* Small Desktops */

@media screen and (max-width: 1200px){

    body.rtl{
        #header{
            .logo{ float: none !important; margin-left: auto; margin-right: auto; }
            &.is-sticky div.menu-wrapper .logo{ float: right !important; }
        }
        div.filters .alignright{
            padding-left: 30px;
            padding-right: 0;
        }
    }

}


@media screen and (min-width: 990px) and (max-width: 1024px){
    #header.is-sticky{
        nav{
            float: left !important;
            max-width: 82%;
        }
    }
}

/* @group Responsive: all mobiles devices (tablets and cellphones) */

@media screen and (max-width: 1023px){

    body.rtl{

        div.left-content{ float: none; border: 0; }
        div.filters .alignright{ padding-left: 15px; }
        div.filters .nice-select{
            margin-left: 15px;
            margin-right: 0;
        }
        // div.filters .alignright{ padding-left: 30px; }

        #header{
            &.is-sticky div.menu-wrapper .logo{ float: none !important; }
            ul.menu > li.menu-item-has-children.last-menu-item{
                ul.sub-menu{
                    right: 100% !important;
                    left: auto !important;
                }
            }
        }
        #header .logo, #header.advertising .logo{ float: none; }
        
        #header div.menu-mobile {
            left: auto;
            right: 20px;
        }
        #header nav{
            left: auto;
            right: 40px;
            text-align: right;
        }
        #header nav ul.menu>li.menu-item-has-children:after{
            right: auto;
            left: 0;
            top: 8px;
            content: '\f104';
        }
        #header nav ul.menu li.menu-item-has-children{
            margin-right: 0;
            margin-left: 10px;
        }
        #header nav ul.sub-menu{
            left: auto;
            right: 100%;
        }
        .epcl-search-button{
            right: auto;
            left: 30px;
        }
        #single .post-format-image img{ border-top-left-radius: 7px; }
        .widget_search{
            margin-left: 0 !important;
            margin-right: 0 !important;
            padding-left: 30px !important;
            padding-right: 30px !important;
        }
    }

}

/* @end */

/* @group Mobile devices */

@media screen and (max-width: 767px){

    body.rtl{
        div.filters .grid-33{ float: none; }
        div.filters .alignright{ padding-left: 5px; }
        #header nav{
            ul.menu > li.menu-item-has-children ul.sub-menu{
                margin-right: 0;
            }
            ul.menu > li.menu-item-has-children.last-menu-item{
                
                ul.sub-menu{
                    left: auto !important;
                    right: auto !important;
                }
            }
        }
        #header nav{ right: 20px; }
        #header nav ul.menu li.menu-item-has-children:after{
            content: '\f107';
            top: 10px;
        }
        #header nav ul.sub-menu{
            right: auto;
        }
        .epcl-search-button{
            left: 20px;
        }

        .widget_search{
            padding-left: 0px !important;
            padding-right: 0px !important;
        }
        
        // Footer
        #footer .subscribe .right{ float: none; padding: 0 20px; }
        
    }

}

/* @end */