/* @group Global Styles */

body{
    font: $font-size $font-family;
    line-height: $line-height;
    font-weight: $font-weight;
    color: $text-color;
    background: #1D202F;
    -webkit-overflow-scrolling: touch;
    margin: 0 auto;
    letter-spacing: 0.3px;
    background: #2C45A3;
    background: linear-gradient(90deg, rgba(#2C45A3,1) 30%, rgba(#355BC5,1) 100%); //8ba1da 
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
video{
    display: block;
}
.nice-select .list{ opacity: 0; }
[data-aos=fade]{ 
    opacity: 0;
    @include transition(600ms);
}
[data-aos=fade-up]{ 
    opacity: 0;
    transform: translateY(50px);
    @include transition(600ms);
}
.aos-animate{
    transform: translateY(0px);
    opacity: 1;
}

.lazy, [data-lazy="true"]{ 
    opacity: 0;
    @include transition;
}
.lazy.loaded, [data-lazy="true"].loaded{ opacity: 1; }

img{ max-width: 100%; height: auto; }
a{
	color: $black2;
	@include transition;
	&:hover{ color: $red; }
	img{ @include backface-visibility(hidden); @include transition; }
}
i.icon, i.fa{ font-style: normal !important; }
.no-margin{ margin: 0 !important; }
.alignleft{ float: left !important; }
.alignright{ float: right !important; }
.aligncenter{ display: block; margin: 0 auto; }
.fw-bold{ font-weight: bold !important; }
.fw-normal{ font-weight: normal !important; }
.textleft{ text-align: left !important; }
.textright{ text-align: right !important; }
.textcenter{ text-align: center !important; }
.uppercase{ text-transform: uppercase; }
.overflow{ overflow: hidden; }
.cover{
	background-repeat: no-repeat !important;
	background-position: center center !important;
	@include background-size(cover);
}
hr{ border: 0; border-top: 1px solid $border-color; height: 1px; margin: 0 0 20px; }

.grid-container{ max-width: $grid-container; }
.grid-container.grid-small{ max-width: $grid-small; }
.grid-container.grid-medium{ max-width: $grid-medium; }

/* Content */

.section{ padding-top: $section-padding; padding-bottom: $section-padding; }
.section.bordered{ border-top: 1px solid $border-color; margin: 0 double(-$grid-gap); padding-left: double($grid-gap); padding-right: double($grid-gap); }
.fullwidth{ display: block; width: 100%; height: auto; }
.thumb{
    position: relative;
    z-index: 1;
    min-height: 80px;
}
.thumb .fullimage,
.full-link{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100% !important;
	z-index: 1;
}
.full-link{ z-index: 10; }
.content{
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
	background: #fff;
	margin-top: 60px;
	border-top-left-radius: 7px;
    border-top-right-radius: 7px;
	position: relative;
	z-index: 2;
}
.mfp-close{ font-size: 40px !important; }

/* Top page Loader */

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.pace-inactive { display: none; }
.pace .pace-progress {
  background: $yellow;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}
.pace .pace-activity {
  display: block;
  position: fixed;
  z-index: 2000;
  top: 15px;
  left: 15px;
  width: 14px;
  height: 14px;
  border: solid 2px transparent;
  border-top-color: $yellow;
  border-left-color: $yellow;
  border-radius: 10px;
  animation: pace-spinner 400ms linear infinite;
}

@keyframes pace-spinner {
  0% { transform: rotate(0deg); transform: rotate(0deg); }
  100% { transform: rotate(360deg); transform: rotate(360deg); }
}

/* Banners */

.epcl-banner{
    img.custom-image{ display: block; margin: 0 auto; }
    padding-bottom: 0;
    &.epcl-banner_below_header{ height: 90px; }
}
div.articles article .epcl-banner iframe{ min-height: inherit !important; height: inherit !important; max-height: inherit !important; }

/* Breadcrumbs */

.epcl-breadcrumbs{
    padding-top: 30px;
    margin-bottom: -30px;
    color: #fff;
    font-size: 13px;
    a{
        color: #fff;
        font-weight: 600;
        &:hover{ color: $yellow; }
    }
    .breadcrumb_last, .current-item{
        
    }
}

/* @group Search Results */

#search-results{
	position: relative;
	z-index: 1;
	background: #fff;
	margin: 20px auto;
	h2{ padding: 0 20px; text-align: center; }
	div.box{ margin-top: 20px; padding: 0 20px; }
	article{
		background: #f9f9f9;
		padding: 20px;
		.title{ margin-bottom: 5px; }
		time{ opacity: .75; font-size: 13px; }
		img, iframe{ display: none; }
	}
}


/* @end */

/* @group Global: Author Box */

#author{
	padding: 30px;
	position: relative;
	z-index: 1;
	text-align: center;
	background: $red;
	color: #fff;
	margin-top: $section-padding;
	div.avatar{
		position: absolute;
		left: 50%;
		top: 0;
		z-index: 2;
		width: 80px;
		margin: -40px 0 0 -40px;
		a{
			display: block;
			border-radius: 50%;
			overflow: hidden;
		}
		img{ display: block; }
    }
    div.info{
        font-size: 16px;
        max-width: 75%;
        margin: 0 auto;
    }
    div.social{ 
        margin-top: 15px;
        a{ 
            display: inline-block;
            margin: 0 12px;
            color: #fff;
            font-size: 22px;
            &:hover{ transform: translateY(-2px); } 
        }
    }
	.author-name{ margin-top: 35px; margin-bottom: 20px; line-height: 1; }
	.author-name a, .title{ color: #fff; }
}

/* @end */