/* @group Global Articles List */

div.filters{
	padding: 30px 0;
	background: $red;
	border-top-left-radius: 7px;
	border-top-right-radius: 7px;
}

// Articles loop
div.articles{
	overflow: hidden;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    div.tags.absolute{ text-align: right; }
	.separator{
		height: 1px;
		background: $border-color;
		margin: 0 -10px 0;
	}
	.separator.last{ margin-top: -1px; }
	h3.title{ margin-bottom: 20px; }
	article{
		padding-top: 30px;
		position: relative;
        z-index: 1;
        border-bottom: 1px solid $border-color;
		div.border{
			content: '';
			position: absolute;
			left: -1px;
			top: 0;
			width: 1px;
			height: 9999px;
			background: $border-color;
		}
		&.first-row div.border{ display: none; }
		.featured-image{ position: relative; z-index: 1; overflow: hidden; }
		a.thumb{ min-height: 250px; }
		div.meta{ margin: 20px 0 13px; }
		.title{ font-size: 24px; margin-bottom: 10px; line-height: 1.35; }
		div.post-excerpt{ margin-bottom: 90px; }
        iframe{ display: block; max-height: 500px; width: 100%; }
        &.no-thumb{
            div.meta{ margin-top: 5px; }
        }
        &.sticky{ background: inherit; }
        &.no-author{
            div.post-excerpt{ margin-bottom: 30px; }
        }
    }
    // Posts Formats
    .post-format-wrapper{ 
        position: relative;
        z-index: 2;
        border-radius: 15px;
        overflow: hidden;
        box-shadow: 0 3px 12px -1px rgba(7,10,25,.2), 0 22px 27px -20px rgba(7,10,25,.2);
        margin-bottom: 23px;
        &.hidden{ display: none; }
     }
	.post-format-gallery{
		max-height: 250px;
		overflow: hidden;
		position: relative;
        z-index: 2;
        
		div.item{ height: 250px; position: relative; }
    }
    .post-format-video{
        video{
            display: block;
            width: 100%;
            height: auto;
        }
    }
    // 2 columns
	&.columns-2{
		a.thumb{ min-height: 325px; }
		iframe{ height: 325px; }
		.post-format-gallery{
			max-height: 325px;
			div.item{ height: 325px; }
		}
    }
    // 4 columns
	&.columns-4{
		a.thumb{ min-height: 200px; }
		iframe{ height: 200px; }
		.post-format-gallery{
			max-height: 200px;
			div.item{ height: 200px; }
        }
        article{
            .title{
                font-size: 20px;
            }
            div.post-excerpt{
                font-size: 14px;
            }
        }
    }

    // Classic Articles
    &.classic{
        display: block;
        article{ 
            min-height: inherit; 
            padding: double($grid-gap) 0px;
            .title{ font-size: 32px; padding-top: $grid-gap; line-height: 1.25; margin-bottom: 15px; }
			div.meta{
				margin-top: 10px;
				margin-bottom: $grid-gap;
                .author-meta{
                    display: inline-block;
                    color: lighten($text-color, 25%);
                    margin-right: 13px;
                    position: relative;
                    right: auto;
                    bottom: auto;
                    @include transition();
                    &:hover{ color: $black1; }
                    .author-image{
                        width: 24px;
                        height: 24px;
                        position: relative;
                        left: auto;
                        top: -1px;
                        float: none;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                        margin-left: 0;
                    }
                }
                i.fa{ font-size: 16px; top: -2px; margin-right: 5px; }
            }
            .post-format-wrapper{ margin-bottom: 0; }
            .post-excerpt{ margin-bottom: 0px; line-height: 1.8; font-size: 16px; }
			a.thumb,
            .post-format-gallery,
            .post-format-gallery div.item,
            .post-format-video iframe{ height: 375px; max-height: inherit; }
			.button{ margin-top: $element-padding; }
            &.no-thumb{
                .left{ display: none; }
                .right{ width: 100%; padding: 0; }
                .bottom{
                    padding-top: 0;
                    margin-top: -10px;
                    .title{ padding-top: 0; }
                }
            }
			.bottom{ padding: 10px 30px 0; text-align: center; }
        }
        div.meta a.comments, div.meta .download{ float: none !important; margin-left: 15px; }
    }
}

/* Global Meta data */

time{ text-transform: capitalize; }
div.meta{
	font-size: 13px;
	color: lighten($text-color, 15%);
	.fa{
		font-size: 15px;
		vertical-align: middle;
		margin-right: 5px;
		position: relative;
		z-index: 1;
	}
	time{ display: inline-block; }
    svg{
        width: 15px;
        height: 15px;
        vertical-align: middle;
        margin-right: 6px;
        fill: lighten($text-color, 15%);
        margin-top: -2px;
    }
    .download{
        margin-left: 12px;
        svg{
            width: 15px;
            height: 15px;
        }
    }
	a.comments{
		color: lighten($text-color, 15%);
		span.disqus-comment-count{ font-size: 12px; }
        svg{ width: 15px; height: 15px; margin-right: 4px; }
		i.fa{ margin-right: 3px; font-size: 14px; top: -2px; }
		&:hover{ color: $black1; }
	}
}

.author-meta{
	position: absolute;
	bottom: 25px;
    right: 30px;
    line-height: 1;
	.author-image{
		display: block;
		width: 40px;
		height: 40px;
		border-radius: 50%;
		float: right;
        margin-left: 13px;
        margin-top: 3px;
        background-color: $black1;
        box-shadow: 2px 2px 5px 1px rgba(#000, 0.25);
	}
	a{
		float: right;
		display: block;
		line-height: 33px;
		font-size: 13px;
        color: $red;
        text-align: right;
        .author-name{
            display: inline-block;
            min-width: 100px;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.5px;
        }
        .author-count{
            display: block;
            color: lighten($text-color, 20%);
            line-height: 1;
            margin-top: -4px;
            letter-spacing: 0.75px;
        }
	}
    a:hover{ color: $text-color; }
    &.no-counter .author-name{ margin-top: 5px; }
}

/* @end */

/* @group Global Pagination */

.pagination{
	border-top: 1px solid $border-color;
	margin-top: -1px;
	text-align: center;
    background: #fff;
    #single &{
        border: 0;
        padding-top: 0;
    }
    div.nav{ 
        display: inline-block;
        > span{
            display: inline-block;
            margin: 0 10px;
            background: $red;
            height: 40px;
            font-size: 15px;
            color: #fff;
            line-height: 40px;
            padding: 0 25px;
            font-family: $title-font-family;
            border-radius: $border-radius;
        }
        a{
            @extend .button, .outline;
            vertical-align: top;
            display: inline-block;
            padding: 0 20px;
            height: 36px;
            line-height: 36px;
            border-radius: $border-radius;
            span{ padding: 0; margin: 0; }
        }
    }
    &.link-pages{
        div.nav{
            a, > span{
                margin: 0 5px 5px;
            }
        }
    }
}


/* @end */
