/* @group Sidebar */

div.left-content{
    border-right: 1px solid $border-color;
    margin-right: 0;
    padding: $section-padding double($grid-gap);
    .classic &{
        padding-top: 0;
        padding-bottom: 0;
    }
    .grid-sidebar &{
        padding: 0;
    }
}
.no-active-sidebar div.left-content{ width: auto; float: none; }
aside{
    border: 0;
    position: relative;
    z-index: 2;
    &:before{
        content: '' !important;
        border-left: 1px solid $border-color;
        height: 100% !important;
        position: absolute;
        left: -1px;
        top: 0;
        z-index: 2;
        width: 1px;
        visibility: visible !important;
    }
	.widget{
		padding: ($section-padding - 5px) 0px $section-padding;
        border-bottom: 1px solid $border-color;
        position: relative;
        &:after{
            content: '';
            display: block;
            position: absolute;
            left: 25px;
            bottom: 0;
            right: $grid-gap;
        }
        .grid-sidebar &:first-child{
            padding-top: 25px;
        }
    }
    &.is-affixed .inner-wrapper-sticky{
        padding: 0 $grid-gap;
    }
}

/* @end */